body{
    background-color: rgb(248, 173, 230);
    font-family: candara light;
    font-style: italic;
}

*{
    scroll-behavior: smooth;
}

p.titulo {
    font-size: larger;
    font-style: italic;
    background-color: violet;
    margin-right: 800px ;
    text-align: left;
}

p.imagen{
    text-align: center;
}

table{
    font-size: medium;
    font-family: candara;
    font-style: italic;
    table-layout: auto; width: 80%;
    border-spacing: 1px;
    color: black;
}

th{
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: rgb(248, 173, 230);
    transition: background-color 1s;
}

th:hover{
    background-color: rgb(227, 166, 213);
}

hr{
border: 0;
border-top: 2px solid rgba(203, 134, 134, 0.586); 
border-bottom: 2px solid rgba(65, 51, 51, 0.415);
height:0;
}

a{
    text-decoration: none;
    color: black;
}

p.sub {
    font-size: larger;
    font-style: italic;
    background-color: violet;
    margin-right: 850px;
}

p#sobre{
    font-size: larger;
}

form{
    background-color: rgb(248, 173, 230);
}

button{
    background-color: rosybrown;
    font-family: candara light;
    border-radius: 5px;
}

input{
    background-color: rosybrown;
    border-radius: 5px;
}

textarea{
    background-color: rosybrown;
    border-radius: 5px;
}

div.ini{
    background-image: url(ovillo.jpg);
    background-size: 1200px, 100px, auto;
    background-repeat: no-repeat;
    color: bisque;
    font-weight: bold;
}
